* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #f5f5f1;
}
header {
    max-width: 50rem;
    margin: 3rem auto 2rem auto;
    text-align: center;
}

header > h1 {
    font-size: 1.3rem;
    margin: 1.5rem 0;
}

header > p{
    line-height: 1.5rem;
}

#members-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 67rem;
    margin: 0 auto
}

/* > ////////////////////////// */
/* // MEMBER CARD */
/* > ////////////////////////// */

article {
    margin: 1rem;
    width: 20rem;
    background-color: white;
    text-align: center;
    padding-bottom: 1rem;
}

article > img {
    width: 100%;
}

article> h3 {
    margin: .5rem 0;
}

article > h3,
article > p,
header > p{
    color: #6c6761
}